<div class="form">
  <h1>Add Event</h1>
 <%= simple_form_for(@plan, url: new_plan_path) do |f| %>
    <%= f.input :name%>
    <%= f.input :time %>
    <%= f.input :date %>
    <%= f.input :description %>
    <%= f.submit  %>
  <% end %>
</div>
