<div class="container">
  <h1 class="text-center my-2">Add Event</h1>
  <%= simple_form_for @plan do |f| %>
    <%#= f.association :food, %>
    <%= f.input :name%>
    <%= f.input :time %>
    <%= f.input :date %>
    <%= f.input :description %>
    <%= f.submit  %>
  <% end %>
</div>
